URxvt.font: xft:monospace:size=10
URxvt.scrollBar: false



! special
*.foreground:   #cfcfc2
*.background:   #232629
*.cursorColor:  #cfcfc2

! black
*.color0:       #2a2e32
*.color8:       #31363b

! red
*.color1:       #c0392b
*.color9:       #f44f4f

! green
*.color2:       #218058
*.color10:      #27ae60

! yellow
*.color3:       #fdbc4b
*.color11:      #fdbc4b

! blue
*.color4:       #2980b9
*.color12:      #0099ff

! magenta
*.color5:       #8e44ad
*.color13:      #af81ff

! cyan
*.color6:       #27aeae
*.color14:      #31dddd

! white
*.color7:       #acada1
*.color15:      #cfd0c2

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 0
rofi.fake-transparency: true 
rofi.location: 0
rofi.width: 50
rofi.font: Monospace 10 
rofi.lines: 15
rofi.fixed-num-lines: true
