URxvt.font: xft:sourcecodepro:size=10
URxvt.scrollBar: false
URxvt.termName: xterm-256color

! special
*.foreground:   #c0c5ce
*.background:   #2b303b
*.cursorColor:  #c0c5ce

! black
*.color0:       #2b303b
*.color8:       #65737e

! red
*.color1:       #bf616a
*.color9:       #bf616a

! green
*.color2:       #a3be8c
*.color10:      #a3be8c

! yellow
*.color3:       #ebcb8b
*.color11:      #ebcb8b

! blue
*.color4:       #8fa1b3
*.color12:      #8fa1b3

! magenta
*.color5:       #b48ead
*.color13:      #b48ead

! cyan
*.color6:       #96b5b4
*.color14:      #96b5b4

! white
*.color7:       #c0c5ce
*.color15:      #eff1f5

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

!                  bg         border   separator
rofi.color-window: #2b303b, #000000, #000000
!                  bg         fg       altbg      hlbg       hlfg
rofi.color-normal: #2b303b, #839496, #2b303b, #8fa1b3, #2b303b
rofi.color-active: #8fa1b3, #2b303b
rofi.color-urgent: #dd002b36, #d33682, #00002b36, #dd073642, #d33682

rofi.yoffset: 0
rofi.fake-transparency: true 
rofi.location: 0
rofi.width: 50
rofi.font: sourcecodepro 10 
rofi.lines: 15
rofi.fixed-num-lines: true
