@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Hide tab borders */
:root {
  --text-color: #c0c5ce;
  --background-color: #2b303b;
  --tab-select-color: #404758;
  --border: #a1a1a1;
}

@namespace html url(http://www.w3.org/1999/xhtml);
.textbox-input-box > html|*.textbox-input::placeholder {
  color: var(--text-color) !important;
}


/* Hide separators between tabs */
.tabbrowser-tab::before,
.tabbrowser-tab::after,
.titlebar-placeholder {
  color: var(--background-color) !important;
  border: none !important;
}


/* Url bar dropdown list */
#PopupAutoCompleteRichResult{
  margin-top: -3px !important;
}


#PopupAutoCompleteRichResult > richlistbox {
  -moz-box-orient: horizontal !important;
  overflow: hidden !important;
  background-color: var(--background-color) !important;
}

.ac-url-text, .ac-action-text {
  color: var(--text-color) !important;
}

#PopupAutoCompleteRichResult > richlistbox > richlistitem > hbox > description > description:not(.ac-url-text) {
  color: var(--text-color) !important;
}

#PopupAutoCompleteRichResult > richlistbox > richlistitem[selected] {
  background-color: var(--background-color) !important;
}


/* Page loading throbber on tabs */
.tab-throbber::before {
  fill: var(--text-color) !important;
  opacity: 1 !important;
}

#tabbar .after-tabs {
  display: none !important;
}


/* Hide SSL identity label */
#identity-icon-labels{
  display: none !important;
}

.tab-line {
  display: none !important;
}


/* Change color of selected tab text */
#TabsToolbar .tabbrowser-tab[selected] {
  color: var(--text-color) !important;
}


/* Change Color of all tabs */
.tab-background {
  background-attachment: none !important;
  background-color: var(--background-color) !important;
  background-image: none !important;
}

.tab-background[selected="true"] {
    background-attachment: none!important;
    background-color: var(--tab-select-color) !important;
    background-image: none!important;
    background-position: none!important;
    background-repeat: none!important;
    background-size: none!important;
}

/* Reduce width of pinned tabs by reducing the left and right padding */
#TabsToolbar .tab-content[pinned] {
  padding: 0 9px !important;
}


/* Move tabs over to right to make room for address bar */
#TabsToolbar {
  margin: 0 0 0 45vw !important;
  height: 50px !important;
  max-height: 30px !important;
  padding-left: -5px !important;
  background: var(--background-color) !important;
}


/* Move address bar to titlebar with tabs */
#nav-bar {
  margin: -31px 55vw -1px 35px !important;
  height: 31px !important;
  border-bottom: 1px solid var(--boder) !important;
  background: var(--background-color) !important;
}

#nav-bar-overflow-button {

  transform: scale(0.9, 0.9) !important;
  fill: var(--text-color) !important;
  margin: 0  0vw  0  0 !important;
}

/* URL bar width adjustments */
#urlbar-container {
  border: none !important;
  width: 100px !important;
}

#urlbar {
  background: none !important;
  border: none !important;
  margin-left: -2px !important;
  min-width: 40px !important;
  max-width: 9950px !important;
  font-size: 15px !important;
  height: 44px !important;
  box-shadow: none !important;
  color: var(--text-color) !important;
}

#urlbar:hover {
  border: none !important;
  box-shadow: none !important;
}

#urlbar[focused="true"] {
  border: none !important;
}


/* Hide bookmark folder icons */
.bookmark-item > .toolbarbutton-icon {
  display: none !important;
}


/* Increase bookmarks toolbar height */
#PersonalToolbar {
  margin-top: 2px !important;
  height: 28px !important;
  border-top: 1px solid var(--boder) !important;
}


/* Minor bookmarks toolbar spacing adjustments */
#personal-bookmarks toolbarbutton.bookmark-item, #personal-bookmarks toolbarbutton {
  box-shadow: none !important;
  margin: -1px 0px -1px 2px !important;
  padding: 0px 5px !important;
  -moz-appearance: none !important;
}

#personal-bookmarks toolbarbutton:hover {
  -moz-appearance: none !important;
  text-shadow: none !important;
  color: var(--text-color) !important;
}


/* Remove line under address bar */
#navigator-toolbox::after{
  content: none !important;
}


/* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
  display: none !important;

}


/* Affix hamburger menu to top right */
#PanelUI-button{
position: fixed !important;
  top: 3px !important;
  left: -5px !important;
  background-color: var(--background-color);
  padding-bottom: 2px;
  padding-right: 5px;
  
}

#new-tab-button{
  position: fixed !important;
  margin: 3px 0px 0px 0px !important;
  padding-right: -10px !important;
}


/* Hide titlebar placeholder for caption buttons so that padding between tabs and address bar isn't as large */
.titlebar-placeholder[type="caption-buttons"] {
  -moz-box-ordinal-group: 1 !important;
  display: none !important;
  padding-left: -50px !important;
}


/* Findbar customization */
@keyframes scale-in {
    0% {
 transform: scaleY(0);
    }
    100% {
 transform: scaleY(1);
    }
}

@keyframes scale-out {
    0% {
 transform: scaleY(1);
    }
    100% {
 transform: scaleY(0);
    }
}

.browserContainer {
  position: relative !important;
}

.browserContainer > findbar {
  background: var(--background-color) !important;
  border: none !important;
}

findbar {
  animation: 0.2s scale-in !important;
  transform-origin: top center !important;
  background-color: var(--background-color) !important;
  padding: 4px 4px 4px 4px !important;
  border: 2px !important;
  position: absolute !important;
  top: -2px !important;
  right: 0px !important;
}

findbar[hidden="true"] {
  animation: 0.2s scale-out !important;
}

findbar .findbar-container {
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

findbar .findbar-container .findbar-textbox {
  padding: 6px 8px !important;
  background: var(--background-color) !important;
  border: none;
  box-shadow: none !important;
  color: var(--text-color) !important;
}

findbar .findbar-container .findbar-find-previous,
findbar .findbar-container .findbar-find-next {
  background: var(--background-color) !important;
  background-color: var(--text-color) !important;
  border: none;
}

findbar .findbar-container .findbar-find-previous:hover,
findbar .findbar-container .findbar-find-previous:focus,
findbar .findbar-container .findbar-find-next:hover,
findbar .findbar-container .findbar-find-next:focus {
  background-color: var(--text-color) !important;
}

findbar .findbar-button {
  color: var(--text-color);
  border: none;
  border-radius: var(--toolbarbutton-border-radius) !important;
}

findbar .findbar-closebutton {
  background-color: var(--text-color) !important;
  margin-right: 4px !important;
  padding-inline-end: 0 !important;
  position: relative !important;
  top: 6px !important;
}


/*Darken panels*/
.panel-arrow {
  filter: invert(99%) !important;
  opacity: .5 !important;
}

.subviewbutton:hover,
.toolbarbutton-1:hover, {
  color:var(--text-color) !important;
  background-color: transparent !important;
}

.panel-subview-body,
#appMenu-zoomReset-button {
  color: var(--text-color) !important;
  background: var(--background-color) !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.panel-subview-footer,
[class^="PanelUI-"] {
  color: var(--text-color) !important;
  background: var(--background-color) !important;
}


/*stops possible clashes with extension popups*/
.webextension-popup-browser {
  background: var(--background-color) !important;
}


/*  Right click menu */
menupopup,
popup,
popup > menu > menupopup,
menupopup > menu > menupopup {
  -moz-appearance: none !important;
  background: var(--background-color) !important;
  padding: 2px 0px 2px 0px  !important;
  box-shadow: none !important;
}

menupopup menuseparator {
  -moz-appearance: none !important;
  border-bottom: 1px solid var(--boder) !important;
  margin: 3px 0px 5px 0px !important;
  padding: 0px !important;
}

menupopup menu,
menuitem{
  -moz-appearance: none !important;
  color: var(--text-color)!important;
}

menupopup menu:hover,
menuitem:hover {
  -moz-appearance: none !important;
  color:var(--text-color) !important;
  background-color: transparent !important;
}


/* Minimize white flash when loading some sites */
browser[type="content-primary"],
#content,
browser[type="content"] > html {
  background: var(--background-color) !important;
}

.titlebar-placeholder[type="pre-tabs"] {
  display:none !important;
}

.titlebar-placeholder[type="post-tabs"] {
  display:none !important;
}

#titlebar-placeholder-on-TabsToolbar-for-captions-buttons {
  display: none !important;
}

#TabsToolbar {
  padding-inline-start: 0px !important;
}

#tabbrowser-tabs {
  border-inline-start-width: 0px !important;
}


/* Remove window buttons (Close, Minimize, Fullscreen) */
#titlebar {
  display: none !important;
}

/* Things to test */

.tab-stack {
  min-height: 29px; !important;
  margin-bottom: 1px !important;
}

/* Remove circle, background, padding from backbutton */
:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
    background-color: unset !important;
    border: unset !important;
    padding: var(--toolbarbutton-inner-padding) !important;
    border-radius: var(--toolbarbutton-border-radius) !important; }
/* Hover and Active states to mimic other buttons */
:root:not([uidensity="compact"]) #back-button:hover:not([disabled]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background) !important; }
:root:not([uidensity="compact"]) #back-button:active:not([disabled]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important; }
/* Remove pre-padding */
:root:not([uidensity="compact"]) #back-button {
    /*padding-top: unset !important;
    padding-bottom: unset !important;   /* These two will screw nav-bar height (Nightly57)*/
    padding-inline-start: 3px !important; }

#content browser {
 margin-right: -14px !important;
 overflow-y: scroll;
 overflow-x: hidden;
}
